<!DOCTYPE HTML>
<html>
<include file="Public:header" />
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-text-add">
        <input type="hidden"  value="<{$info['m_id']}>"   name="m_id">
        <div class="row cl">
            <label class="form-right form-label col-xs-3 col-sm-3"><span class="c-red">*</span>菜单名称：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" value="<{$info['m_name']}>" placeholder="输入1-7个字符"  name="m_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-right form-label col-xs-3 col-sm-3">上级菜单：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <span class="select-box inline"  style="width: 100%">
                    <select class="select" style="width: 100%" name="m_pid">
                        <option value="">一级菜单</option>
                        <foreach name="menu" item="vo">
                            <option value="<{$vo.m_id}>" ><{$vo.m_name}></option>
                        </foreach>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>菜单类型：</label>
            <div class="formControls col-xs-9 col-sm-9">
                <span class="select-box inline"  style="width: 100%">
                    <select id="menutype" style="width: 100%" class="select" name="m_type">
                        <option value="">请选择菜单类型</option>
                        <foreach name="type" item="vo">
                        <option value="<{$vo.key}>" ><{$vo.value}></option>
                        </foreach>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label id="typeattr" class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>类型属性：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text"  placeholder="输入1-50个字符" name="m_attr">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<include file="Public:footer" />
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $('#menutype').change(function(){
            var value = $(this).val();
            var typeattrhtml = $('#typeattr');
            var red = '<span class="c-red">*</span>';
            switch(value){
                case 'click':
                    typeattrhtml.html(red+'Key：');
                    break;
                case 'view':
                    typeattrhtml.html(red+'跳转Url：');
                    break;
                default:
                    typeattrhtml.html(red+'类型属性：');
            }
        })
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#form-text-add").validate({
            rules:{
                m_name:{
                    required:true,
                    minlength:1,
                    maxlength:7
                },
                m_type:{
                    required:true
                },
                m_attr:{
                    required:true,
                    minlength:2,
                    maxlength:50
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                var index = bntsaveshade();
                $(form).ajaxSubmit({
                    success: function(data){
                        ajaxReturn(data);
                        layer.close(index);
                    }
                });


            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>